<div class="chat-wrapper">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Chat with AI</h2>
      <div class="bot-selection">
        <label *ngFor="let bot of botOptions">
          <input type="radio" name="bot" [value]="bot.id" [(ngModel)]="chooseBotId" (change)="changeMode(bot.id)" />
          {{ bot.name }}
        </label>
      </div>
      <button (click)="clearChat()">Clear Chat</button>
      <div class="usage-count">
        used: {{ getUsageCount() }}
      </div>
    </div>
    <div class="chat-history">
      <div *ngFor="let message of chatHistory" [ngClass]="{'user-message': message.role === 'user', 'assistant-message': message.role === 'assistant'}">
        <strong>{{ message.role === 'user' ? 'You' : 'AI' }}:</strong>
        <div *ngIf="message.contentType === 'html'; else textContent" [innerHTML]="message.content" class="message-content"></div>
        <ng-template #textContent><div class="message-content">{{ message.content }}</div></ng-template>
      </div>
      <div *ngIf="loading" class="loading">
        <strong>AI:</strong> <span class="spinner"></span>
      </div>
    </div>
    <div class="chat-input">
      <textarea [(ngModel)]="question" placeholder="Type your question here..." wrap="soft" (keydown)="handleKeydown($event)"></textarea>
      <button (click)="sendQuery()">Send</button>
    </div>
  </div>
</div>